.bg{
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-position-top{
    background-position: center 34%;
}
.bg-size-cover{
    background-size: cover;
}

//img
.bg-logo{
    background-image: url(/assets/images/logo.png);
}
.bg-icon-sparkler{
    background-image: url(../../../assets/images/sparkler.png);
}
.bg-icon-arrow-black{
    background-image: url(../../../assets/images/rounded-double-right.png);
}
.bg-icon-arrow-white{
    background-image: url(../../../assets/images/rounded-double-right-white.png);
}
.bg-banner-l{
    background-image: url(../../../assets/images/event/13.jpg);
}
.bg-recent-pic-1{
    background-image: url(../../../assets/images/event/01.jpg);
}
.bg-recent-pic-2{
    background-image: url(../../../assets/images/event/02.jpg);
}
.bg-recent-pic-3{
    background-image: url(../../../assets/images/event/03.jpg);
}
.bg-recent-pic-4{
    background-image: url(../../../assets/images/event/04.jpg);
}
.bg-recent-pic-5{
    background-image: url(../../../assets/images/event/05.jpg);
}
.bg-recent-pic-6{
    background-image: url(../../../assets/images/event/06.jpg);
}
.bg-recent-pic-7{
    background-image: url(../../../assets/images/event/07.jpg);
}
.bg-recent-pic-8{
    background-image: url(../../../assets/images/event/08.jpg);
}
.bg-recent-pic-9{
    background-image: url(../../../assets/images/event/09.jpg);
}
.bg-recent-pic-10{
    background-image: url(../../../assets/images/event/10.jpg);
}
.bg-recent-pic-11{
    background-image: url(../../../assets/images/event/11.jpg);
}
.bg-recent-pic-12{
    background-image: url(../../../assets/images/event/12.jpg);
}
.bg-online-banner{
    background-image: url(../../../assets/images/event/online.jpg);
}
.bg-album-pic-1{
    background-image: url(../../../assets/images/album/01.jpg);
}
.bg-album-pic-2{
    background-image: url(../../../assets/images/album/02.jpg);
}
.bg-album-pic-3{
    background-image: url(../../../assets/images/album/03.jpg);
}
.bg-album-pic-4{
    background-image: url(../../../assets/images/album/04.jpg);
}
.bg-cate-pic-1{
    background-image: url(../../../assets/images/cate01.svg);
}
.bg-line{
    background-color: $secondary;
}

//size
.logo-size{
    @include size(53px, 53px)
}
.logo-size-s{
    @include size(40px, 40px)
}
.icon-size-s{
    @include size(16px, 16px)
}
.icon-size-m{
    @include size(20px, 20px)
}
.icon-size-l{
    @include size(24px, 24px)
}
.icon-size-xl{
    @include size(40px, 40px)
}
.icon-size-xxl{
    @include size(80px, 80px)
}
.album-size{
    @include size(100%, 274px)
}
.banner-size-l{
    @include size(100%, 518px)
}
.banner-size-l-sm{
    @include size(100%, 350px)
}
.banner-size-m{
    @include size(100%, 550px)
}
.banner-size-m-sm{
    @include size(100%, 350px)
}
.bg-size-m{
    @include size(100%, 100%);
    @include media-breakpoint-down(md){
        @include size(100%, 158px)
    }
}
.line-size-l{
    @include size(2px, 100px);
    transform: rotate(30deg);
    @include media-breakpoint-down(md){
        @include size(2px, 50px)
    }
}


