.font-f-Yeseva{
    font-family: 'Yeseva One', cursive;
}
.font-f-Serif{
    font-family: 'Noto Serif TC', serif;
}
.font-f-Sans{
    font-family: 'Noto Sans TC', sans-serif;
}
.ls-s{
    letter-spacing: 3px;
}