<footer class="container-fluid border-top border-3 border-secondary">
    <p class="text-center font-f-Sans py-6 py-md-7 py-lg-8 fs-11 fs-lg-10">
        © 7TAO七逃. All Rights Reserved
    </p>
</footer>