<nav class="container-fluid d-none d-lg-block container-fluid border-bottom border-3 border-secondary">
  <div class="container">
    <div class="container d-flex align-items-center justify-content-between py-6">
        <a href="index.html" class="d-flex align-items-center hover__color--none">
            <h1 class="bg bg-size-cover bg-logo logo-size me-4"></h1>
            <h5 class="me-1">7TAO</h5>
            <h10 class="me-11">活動訂票網</h10>
            <form class="d-flex">
                <input class="form-control border-secondary border-2" type="search" placeholder="探索活動" aria-label="Search">
                <button class="btn btn-secondary text-primary px-5 pt-4 pb-4" type="submit">
                    <i class="icofont-search-1 fs-9"></i>
                </button>
            </form>
        </a>
        <div class="d-flex align-items-center">
            <a class="d-flex align-items-center me-6">
                <i class="icofont-ui-file me-1"></i>
                <p class="fs-9">REGISTER</p>
            </a>
            <a class="d-flex align-items-center">
                <i class="icofont-ui-user me-1"></i>
                <p class="fs-9">LOGIN</p>
            </a>
        </div>
    </div>
  </div>
</nav>
<nav class="container-fluid d-lg-none navbar bg-light fixed-top border-bottom border-2 border-secondary py-3 py-md-4">
    <div class="container">
        <a href="index.html" class="d-flex align-items-center hover__color--none ">
            <h1 class="bg bg-size-cover bg-logo logo-size-s me-6"></h1>
            <form class="d-flex">
                <input class="form-control border-secondary border-2 bg-light p-4 py-2" type="search" placeholder="探索活動" aria-label="Search">
                <button class="btn btn-secondary text-primary" type="submit">
                    <i class="icofont-search-1 fs-10"></i>
                </button>
            </form>
        </a>
      <button class="navbar-toggler border-secondary rounded-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-secondary"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
          <button type="button" class="btn-close mt-3 me-3" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-8">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item pb-6 my-6 border-bottom border-2 border-secondary">
              <a class="nav-link d-flex align-items-center text-secondary fs-9 fs-md-7" aria-current="page" href="#">
                <i class="icofont-ui-file me-3"></i>
                <p >REGISTER</p>
              </a>
            </li>
            <li class="nav-item pb-6 mt-0 border-bottom border-2 border-secondary">
              <a class="nav-link d-flex align-items-center text-secondary fs-9 fs-md-7" href="#">
                <i class="icofont-ui-user me-3"></i>
                <p>LOGIN</p>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
